<%= render :partial => 'articles/article', :collection => @articles, :controller => @controller %>

<<<<<<< HEAD
<% unless @pages.item_count <= this_blog.limit_article_display -%>
<p class="pagination">Older posts: <%= pagination_links @pages, :params => { :action => @controller.action_name }.merge(params[:q] ? { :q => params[:q] } : {}) %></p>
<% end -%>
=======
<p class="pagination"><%= will_paginate @articles %></p>
>>>>>>> 31479d7b23c6cff5c7b3f9fa7d1b7239d5ba76f3
